<div class="container" id="formulario">
    <br>
   <h4>Mantenimiento de persona</h4>

    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Primer nombre</label>
                    <input type="text" [(ngModel)]="agregarPersona.PrimerNombre"  class="form-control" 
                        name="PrimerNombre">
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Segundo nombre</label>
                    <input type="text" [(ngModel)]="agregarPersona.SegundoNombre"  class="form-control" 
                        name="SegundoNombre" >
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Primer apellido</label>
                    <input type="text" [(ngModel)]="agregarPersona.PrimerApellido"  class="form-control" 
                        name="PrimerApellido" >
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Segundo apellido</label>
                    <input type="text" [(ngModel)]="agregarPersona.SegundoApellido"  class="form-control" 
                        name="SegundoApellido" >
                </div>
            </div>

          </div>
        </div>
      
    </div>

    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Fecha nacimiento</label>
                    <input type="date" [(ngModel)]="agregarPersona.FechaNacimiento"  class="form-control" 
                        name="FechaNacimiento" >
                </div>
            </div>

            <div class="col-9">
                <div class="form-group">
                    <label for="controlCodigo">Direccion</label>
                    <input type="text" [(ngModel)]="agregarPersona.Direccion"  class="form-control" 
                        name="Direccion" >
                </div>
            </div>

          </div>
        </div>
    </div>

    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Telefono</label>
                    <input type="tel" [(ngModel)]="agregarPersona.Telefono"  class="form-control" 
                        name="Telefono" >
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Cellular</label>
                    <input type="tel" [(ngModel)]="agregarPersona.Cellular"  class="form-control" 
                        name="Cellular" >
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="controlCodigo">Email</label>
                    <input type="email" [(ngModel)]="agregarPersona.Email"  class="form-control" 
                        name="Email" >
                </div>
            </div>

          </div>
        </div>
    </div>
  
    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="Genero">Genero</label>
                    <select class='form-control' required [(ngModel)]='agregarPersona.GeneroId'>
                        <option class='option' *ngFor='let genero of generos' [value]="genero.Id">{{genero.Descripcion}}</option>
                    </select>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="TipoPersona">Tipo de Persona</label>
                    <select class='form-control' required [(ngModel)]='agregarPersona.TipoPersonaId'>
                        <option class='option' *ngFor='let tipoPersona of tipoPersonas' [value]="tipoPersona.Id">{{tipoPersona.Descripcion}}</option>
                    </select>
                </div>
            </div>

          </div>
        </div>
    </div>
  


    <div class="row">
      <br>
        <div class="col-4">
          <div class="row">
            <div class="col-4">
                <button class="btn btn-primary" id="agregarPersonas">Agregar</button>
            </div>

            <div class="col-8">
                <button  class="btn btn-primary"  id="updatePersona" >Actualizar</button>
            </div>
          </div>
  
        </div>
      </div>

  
    </div>



    <div class="container">
            <br>
            <br>
            <br>
        <div class="row">
            <div class="col-12">
                <table #dataTable class="display" style="width:100%" id="tablepersona">
                   
                
                </table>


            </div>

        </div>


    </div>