<div class="container" id="formulario">
    <br>
   <h4>Mantenimiento de persona</h4>

    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Primer nombre</label>
                    <input type="text" [(ngModel)]="agregarPersona.PrimerNombre"  class="form-control" 
                        name="PrimerNombre">
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Segundo nombre</label>
                    <input type="text" [(ngModel)]="agregarPersona.SegundoNombre"  class="form-control" 
                        name="SegundoNombre" >
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Primer apellido</label>
                    <input type="text" [(ngModel)]="agregarPersona.PrimerApellido"  class="form-control" 
                        name="PrimerApellido" >
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Segundo apellido</label>
                    <input type="text" [(ngModel)]="agregarPersona.SegundoApellido"  class="form-control" 
                        name="SegundoApellido" >
                </div>
            </div>

          </div>
        </div>
      
    </div>

    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Fecha nacimiento</label>
                    <input type="date" [(ngModel)]="agregarPersona.FechaNacimiento"  class="form-control" 
                        name="FechaNacimiento" >
                </div>
            </div>

            <div class="col-9">
                <div class="form-group">
                    <label for="controlCodigo">Direccion</label>
                    <input type="text" [(ngModel)]="agregarPersona.Direccion"  class="form-control" 
                        name="Direccion" >
                </div>
            </div>

          </div>
        </div>
    </div>

    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Telefono</label>
                    <input type="text" [(ngModel)]="agregarPersona.Telefono"  class="form-control" 
                        name="Telefono" >
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="controlCodigo">Cellular</label>
                    <input type="text" [(ngModel)]="agregarPersona.Cellular"  class="form-control" 
                        name="Cellular" >
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="controlCodigo">Email</label>
                    <input type="text" [(ngModel)]="agregarPersona.Email"  class="form-control" 
                        name="Email" >
                </div>
            </div>

          </div>
        </div>
    </div>
  
    <div class="row"> 
        <div class="col-12">
          <br>
          <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="Genero">Genero</label>
                    <select class='form-control' required [(ngModel)]='agregarPersona.GeneroId'>
                        <option class='option' *ngFor='let genero of generos' [value]="genero.Id">{{genero.Descripcion}}</option>
                    </select>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="TipoPersona">Tipo de Persona</label>
                    <select class='form-control' required [(ngModel)]='agregarPersona.TipoPersonaId'>
                        <option class='option' *ngFor='let tipoPersona of tipoPersonas' [value]="tipoPersona.Id">{{tipoPersona.Descripcion}}</option>
                    </select>
                </div>
            </div>

          </div>
        </div>
    </div>
  


    <div class="row">
      <br>
        <div class="col-4">
          <div class="row">
            <div class="col-4">
                <button (click)="agregarPersonas()" class="btn btn-primary" id="agregarPersonas">Agregar</button>
            </div>
  
            <div class="col-8">
                <button (click)="updatePersona()" class="btn btn-primary"  id="updatePersona" >Guardar</button>
            </div>
          </div>
  
        </div>
      </div>

  
    </div>

  


  
    <div class="container">

        <div class="row">
          <div class="col-12">
          <br> 
          <table class="table table-stripe">
            <thead>
              <th>Genero</th>
              <th>Tipo</th>
              <th>PrimerNombre</th>
              <th>SegundoNombre</th>
              <th>PrimerApellido</th>
              <th>SegundoApellido</th>
              <th>FechaNacimiento</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Cellular</th>
              <th>Email</th>
            </thead>
      
            <tbody>
              <tr *ngFor="let items of personas.data">
                <td> {{items.Genero.Descripcion}} </td>
                <td> {{items.TipoPersonas.Descripcion}} </td>
                <td> {{items.PrimerNombre}} </td>
                <td> {{items.SegundoNombre}} </td>
                <td> {{items.PrimerApellido}} </td>
                <td> {{items.SegundoApellido}} </td>
                <td> {{items.FechaNacimiento}} </td>
                <td> {{items.Direccion}} </td>
                <td> {{items.Telefono}} </td>
                <td> {{items.Cellular}} </td>
                <td> {{items.Email}} </td>

                <td> <button id="editar" (click)="editarPersona(items.Id)" class="btn btn-primary"> Editar</button> </td>
      
                <td> <button (click)="eliminarPersona(items.Id)" class="btn btn-danger"> Eliminar </button> </td>
              </tr>      
            </tbody>
            
          </table>
      
          </div>
      
        </div>
        
    </div>




    <div class="container">
        <div class="row">
            <div class="col-12">
                <table #dataTable class="display" style="width:100%" id="Persona">
                    
                </table>


            </div>

        </div>


    </div>